<template>
  <div id="signup">
    <div class="signup-form">
      <form @submit.prevent="onSubmit">
        <div class="input" :class="{ invalid: titleValidity === 'invalid' }">
          <label for="title">Book Title</label>
          <input
            type="string"
            id="title"
            v-model.trim="title"
            @blur="validateTitleInput"
          />
          <p v-if="titleValidity === 'invalid'" class="red--text">
            Please enter a valid Title!
          </p>
        </div>
        <div class="textarea">
          <label for="content">Book Content</label>
          <textarea
            type="string"
            id="content"
            v-model.trim="content"
            @blur="validateContentInput"
          ></textarea>
          <p v-if="contentValidity === 'invalid'" class="red--text">
            Please enter a valid Content!
          </p>
        </div>
        <div class="input">
          <label for="price">Price</label>
          <input
            type="number"
            id="price"
            v-model.trim="price"
            @blur="validatePriceInput"
          />
          <p v-if="priceValidity === 'invalid'" class="red--text">
            Please enter the price of the Book!
          </p>
        </div>
        <div class="submit">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
    <!-- DIALOG -->
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline"> Insert New Book </v-card-title>
        <v-card-text
          >Are you sure you want to add {{ title }} into the Database?
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog = false">
            Disagree
          </v-btn>
          <v-btn color="green darken-1" text @click="onConfirm"> Agree </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      title: "",
      content: "",
      price: "",
      dialog: false,
      titleValidity: "pending",
      contentValidity: "pending",
      priceValidity: "pending",
      date: new Date().toLocaleString(),
    };
  },
  methods: {
    onSubmit() {
      console.log(
        "title, content, price validity",
        this.titleValidity,
        this.contentValidity,
        this.priceValidity
      );
      if (
        this.titleValidity == "valid" &&
        this.contentValidity == "valid" &&
        this.priceValidity == "valid"
      ) {
        this.dialog = true;
      } else {
        this.dialog = false;
      }
    },
    onConfirm() {
      const formData = {
        title: this.title,
        content: this.content,
        price: this.price,
        createdAt: this.date,
        update: this.date,
      };
      console.log(formData);
      axios
        .post(window.VUE_APP_API+"books/", formData)
        .then((res) => {
          console.log("Data added", res);
          alert(this.title + " has been sucessfully added into our database");
          this.title = "";
          this.content = "";
          this.price = null;
        })
        .catch((error) => {
          this.$router.push({ name: "Error", params: { data: error } });
        });
      this.dialog = false;
    },
    validateTitleInput() {
      if (this.title === "") {
        this.titleValidity = "invalid";
      } else this.titleValidity = "valid";
    },
    validateContentInput() {
      if (this.content === "") this.contentValidity = "invalid";
      else this.contentValidity = "valid";
    },
    validatePriceInput() {
      if (this.price === "") this.priceValidity = "invalid";
      else this.priceValidity = "valid";
    },
  },
};
</script>

<style scoped>
.signup-form {
  width: 400px;
  margin: 30px auto;
  border: 1px solid #eee;
  padding: 20px;
  box-shadow: 0 2px 3px #ccc;
}

.input {
  margin: 10px auto;
}

.input label {
  display: block;
  color: #4e4e4e;
  margin-bottom: 6px;
}

.input.inline label {
  display: inline;
}

.input input {
  font: inherit;
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.input.inline input {
  width: auto;
}

.input input:focus {
  outline: none;
  border: 1px solid #521751;
  background-color: #eee;
}

.input select {
  border: 1px solid #ccc;
  font: inherit;
}

.hobbies button {
  border: 1px solid #521751;
  background: #521751;
  color: white;
  padding: 6px;
  font: inherit;
  cursor: pointer;
}

.hobbies button:hover,
.hobbies button:active {
  background-color: #8d4288;
}

.hobbies input {
  width: 90%;
}

.submit button {
  border: 1px solid #521751;
  color: #521751;
  padding: 10px 20px;
  font: inherit;
  cursor: pointer;
}

.submit button:hover,
.submit button:active {
  background-color: #521751;
  color: white;
}

.submit button[disabled],
.submit button[disabled]:hover,
.submit button[disabled]:active {
  border: 1px solid #ccc;
  background-color: transparent;
  color: #ccc;
  cursor: not-allowed;
}

.textarea {
  margin: 10px auto;
}

.textarea label {
  display: block;
  color: #4e4e4e;
  margin-bottom: 6px;
}

.textarea.inline label {
  display: inline;
}

.textarea textarea {
  font: inherit;
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.textarea.inline textarea {
  width: auto;
}

.textarea textarea:focus {
  outline: none;
  border: 1px solid #521751;
  background-color: #eee;
}

.textarea select {
  border: 1px solid #ccc;
  font: inherit;
}

.input.invalid input {
  border-color: red;
}

.input.invalid label {
  color: red;
}
</style>