<template>
  <v-container fluid class="my-5">
    <v-layout row justify-center>
      <h1 class="red--text text--lighten-1">{{ ErrorMessage }}!</h1>
    </v-layout>
    <v-col>
      <p class="text-center">
        Go back to <router-link to="/">Main Page</router-link>
      </p>
    </v-col>
  </v-container>
</template>

<script>
export default {
  name: "Error",
  data() {
    return {
      ErrorMessage: "",
    };
  },
  created() {
    console.log("HEREEEE 1", this.$route.params.data);
    this.ErrorMessage = this.$route.params.data;
    // this.ErrorMessage=this.route.data;
    // console.log("HEREEEE 2",this.ErrorMessage)
  },
};
</script>