<template>
  <div>
    <v-app>
      <v-container fluid class="my-2">
        <v-layout row justify-center>
          <h1 class="grey--text text--lighten-1">Overview Page</h1>
        </v-layout>
      </v-container>

      <div class="ma-5">
        <input
          width="100%"
          type="string"
          placeholder="Enter here to search"
          v-model="search"
        />
      </div>

      <v-data-table
        :headers="headers"
        :items="books"
        :items-per-page="5"
        :search="search"
        class="elevation-1"
      >
        <template #[`item.actions`]="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">
            mdi-pencil
          </v-icon>
          <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
        </template>
      </v-data-table>
    </v-app>
    <!-- DIALOG DELETE-->
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="cancelDelete">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="confirmDelete">OK</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!--DIALOG EDIT-->
    <v-dialog v-model="dialogEdit" max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">Edit Item</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="12">
                <v-text-field
                  v-model.trim="editItemStore.title"
                  label="Title"
                  @blur="validateInput"
                ></v-text-field>
                <p v-if="titleValidity === 'invalid'" class="red--text">
                  Please enter a valid Title!
                </p>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="12">
                <v-textarea
                  v-model.trim="editItemStore.content"
                  label="Content"
                  @blur="validateInput"
                ></v-textarea>
                <p v-if="contentValidity === 'invalid'" class="red--text">
                  Please enter a valid Content!
                </p>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="12">
                <v-text-field
                  type="number"
                  @blur="validateInput"
                  v-model.trim="editItemStore.price"
                  label="Price"
                ></v-text-field>
                <p v-if="priceValidity === 'invalid'" class="red--text">
                  Please enter the price of the Book!
                </p>
              </v-col>
              <v-col cols="12" sm="6" md="4"> </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="cancelEdit"> Cancel </v-btn>
          <v-btn color="blue darken-1" text @click="confirmEdit"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      dialogEdit: false,
      dialogDelete: false,
      search: "",
      deleteItemStore: "",
      editItemStore: "",
      iid: "",
      title: "",
      content: "",
      price: "",
      update: "",
      createdAt: "",
      titleValidity: "pending",
      contentValidity: "pending",
      priceValidity: "pending",
      books: [],
      headers: [
        // {
        //   text: "ID",
        //   align: "start",
        //   sortable: false,
        //   value: "id",
        // },
        { text: "Title", value: "title" },
        { text: "Content", value: "content" },
        { text: "Price ($)", value: "price" },
        { text: "Created At", value: "createdAt" },
        { text: "Last Updated", value: "update" },
        { text: "Action", value: "actions", sortable: false },
      ],
    };
  },
  created() {
    fetch(window.VUE_APP_API+"books/all")
      .then((response) => response.json())
      .then((data) => console.log("wehsfishifeks", data));

    axios
      .get(window.VUE_APP_API+"books/all")
      .then((res) => {
        console.log("this is the res", res);

        console.log("this is the res.data", res.data);
        const data = res.data; //convert to array
        console.log("this is data", data);
        console.log("Created at: ", res.data[0].createdAt);
        for (let id in data) {
          console.log(id);
          let book = data[id];
          book.id = id;
          console.log("this is Book", book);
          this.books.push(book);
        }
        console.log("here", this.books[1]);
      })
      .catch((error) =>
        this.$router.push({ name: "Error", params: { data: error } })
      );
  },
  methods: {
    editItem(item) {
      this.dialogEdit = true;
      this.editItemStore = item;
      return console.log("this edited item:", this.editItemStore);
    },
    cancelDelete() {
      this.dialogDelete = false;
      this.deleteItemStore = "";
    },
    cancelEdit() {
      this.dialogEdit = false;
      this.editItemStore = "";
    },

    deleteItem(item) {
      this.dialogDelete = true;
      this.deleteItemStore = item;
    },
    confirmEdit() {
      this.dialogEdit = false;
      const formData = {
        iid: this.editItemStore.iid,
        title: this.editItemStore.title,
        content: this.editItemStore.content,
        price: this.editItemStore.price,
        createdAt: this.editItemStore.createdAt,
        update: new Date().toLocaleString(),
      };
      console.log("FORMDATA", formData);
      axios
        .put(window.VUE_APP_API+"books/", formData)
        .then((res) => {
          console.log("Data edited", res);
          alert(this.title + " has been sucessfully edited into our database");
          this.iid = "";
          this.title = "";
          this.content = "";
          this.price = null;
          this.createdAt = "";
          this.updateDate = "";
          this.$router.go(0);
        })
        .catch((error) => {
          this.$router.push({ name: "Error", params: { data: error } });
        });
    },
    confirmDelete() {
      this.dialogDelete = false;
      console.log("DELETESTORE", this.deleteItemStore);
      const item_id = this.deleteItemStore.iid;
      axios
        .delete(window.VUE_APP_API+"books/" + item_id)
        .then((res) => {
          console.log("Data deleted", res);
          this.books.splice(this.deleteItemStore.id, 1);

          alert(
            this.deleteItemStore.title +
              " has been sucessfully deleted from our database"
          );
          this.deleteItemStore = "";
        })
        .catch((error) => {
          this.$router.push({ name: "Error", params: { data: error } });
        });
    },
    validateInput() {
      if (this.editItemStore.title === "") {
        this.titleValidity = "invalid";
      } else this.titleValidity = "valid";

      if (this.editItemStore.content === "") this.contentValidity = "invalid";
      else this.contentValidity = "valid";

      if (this.editItemStore.price === "") this.priceValidity = "invalid";
      else this.priceValidity = "valid";
    },
  },
};
</script>
