<template>
  <nav>
    <v-app-bar app flat>
      <v-app-bar-nav-icon
        class="grey--text"
        @click="drawer = !drawer"
      ></v-app-bar-nav-icon>
      <v-toolbar-title class="text-uppercase grey--text">
        <span class="font-weight-light">Book</span>
        <span>Store</span>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn color="grey" to="/">
        <span><v-icon>mdi-home</v-icon></span>
      </v-btn>
    </v-app-bar>
    <v-navigation-drawer app v-model="drawer" temporary>
      <v-list>
        <v-list-item>
          <v-list-item-avatar>
            <v-img
              src="https://cdn.elearningindustry.com/wp-content/uploads/2016/05/top-10-books-every-college-student-read-1024x640.jpeg"
            ></v-img>
          </v-list-item-avatar>
        </v-list-item>

        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title class="title"> Tan Jameson </v-list-item-title>
            <v-list-item-subtitle>tanjameson@gmail.com</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list nav dense>
        <v-list-item
          v-for="link in links"
          :key="link.text"
          router
          :to="link.route"
        >
          <v-list-item-icon>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ link.text }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>


<script>
export default {
  data() {
    return {
      drawer: false,
      title: "",
      links: [
        { icon: "mdi-home", text: "Home", route: "/" },
        { icon: "mdi-ballot", text: "All Books", route: "/findall" },
        { icon: "mdi-pen", text: "Test Page", route: "/testing" },
        { icon: "mdi-magnify ", text: "Search", route: "/Search" },
        { icon: "mdi-note-plus ", text: "Create", route: "/Create" },
        { icon: "mdi-upload ", text: "Upload Media", route: "/UploadMedia" },
        { icon: "mdi-note ", text: "Re-ordering", route: "/Reordering" },
      ],
    };
  },
  method: {
    backHome() {},
  },
};
</script>
