<template>
        <v-container fluid class="my-5">
      <v-layout row justify-center>
        <h1 class="grey--text text--lighten-1">Error 404!</h1>
      </v-layout>
      <v-col >
              <p class="text-center"> Page Not Found... Go back to <router-link to="/">Main Page</router-link></p>
      </v-col>

    </v-container>
</template>