<template>
  <div class="hello">
    <v-app>
      <v-data-table
        :headers="headers"
        :items="myArray"
        item-key="_id"
        class="elevation-1"
        sort-by="protocol"
      >
        <template #body="props">
          <draggable
            :list="props.items"
            tag="tbody"
            ghost-class="ghost"
            @end="onEnd"
          >
            <data-table-row-handler
              v-for="(item, index) in props.items"
              class="sortable"
              :key="index"
              :item="item"
              :headers="headers"
            >
            </data-table-row-handler>
          </draggable>
        </template>
      </v-data-table>
      <br />
      <draggable v-model="data" ghost-class="ghost" @end="onEnd">
        <transition-group type="transition" name="flip-list">
          <table
            class="sortable"
            :id="element._id"
            v-for="element in data"
            :key="element._id"
          >
            <tbody>
              <tr>
                <td>{{ element.id }}</td>
                <td>{{ element.name }}</td>
                <td>{{ element.age }}</td>
                <td>{{ element.price }}</td>
                <td>{{ element.createdAt }}</td>
              </tr>
            </tbody>
          </table>
        </transition-group>
      </draggable>
      <p><strong>Previous Index: </strong> {{ oldIndex }}</p>
      <p><strong>New Index: </strong> {{ newIndex }}</p>
    </v-app>
  </div>
</template>

<script>
import axios from "axios";
import draggable from "vuedraggable";
import DataTableRowHandler from "./DataTableRowHandler.vue";
export default {
  components: {
    draggable,
    DataTableRowHandler,
  },
  data() {
    return {
      headers: [
        // {
        //   text: "ID",
        //   align: "start",
        //   sortable: false,
        //   value: "id",
        // },
        { text: "ID", value: "id" },
        { text: "Protocol", value: "protocol" },
        { text: "Title", value: "name" },
        { text: "Content", value: "age" },
        { text: "Price ($)", value: "price" },
        { text: "Created At", value: "createdAt" },
      ],
      data: [],
      myArray: [
        { name: "Angular", id: 1 },
        { name: "HTML", id: 2 },
        { name: "React", id: 3 },
        { name: "Vue", id: 4 },
        { name: "CSS", id: 5 },
      ],
      oldIndex: "",
      newIndex: "",
    };
  },
  methods: {
    onEnd: function (evt) {
      console.log("this is the evt: ",evt);
      this.oldIndex = evt.oldIndex;
      this.newIndex = evt.newIndex;

      console.log("HelloWorld", this.data);
      console.log("1");
      if (this.oldIndex != this.newIndex) {
        /*
       As the index might not be == to the protocol number, this for-loop is used to identify the protocol number.
       old-index is the initial click array index. 
      */
        for (let i = 0; i < this.data.length; i++) {
          if (this.oldIndex == i) {
            let newProtocol = this.data[this.newIndex].protocol;
            let oldProtocol = this.data[this.oldIndex].protocol;
            ////
            console.log("oldIndex: ", this.oldIndex);
            console.log("newIndex: ", this.newIndex);
            let size = Math.abs(this.newIndex - this.oldIndex);
            console.log("number: ", size);
            console.log("deleting... ", this.data[this.newIndex]);

            axios
              .delete(
                "http://192.168.56.1:8081/attendance/" +
                  this.data[this.newIndex]._id
              )
              .then((res) => {
                //REORDERING THE PROTOCOL//
                
                //Repalce the deleted protocol to the updated protocol
                this.data[this.oldIndex].protocol =
                  this.data[this.newIndex].protocol;
                  console.log("what is this oldIndex? :" ,this.data[this.oldIndex].protocol );
                //Now  the new index is deleted, so we can update the rest of the index

                //special condition if new index == size
                if (this.newIndex == size) {
                  console.log("WTF! ");
                  for (let z = 1; z <= size; z++) {
                    console.log("loop");
                    this.data[z].protocol = this.data[z].protocol - 1;
                  }
                } else if (this.newIndex > this.oldIndex) {
                  for (let i = this.newIndex; i >= size; i--) {
                    console.log("this is the i: ", i);
                    console.log("this is the size: ", size);
                    this.data[i].protocol = this.data[i].protocol - 1;
                  }
                } else {
                }
                //Update the new protocol to database//
                axios
                  .put("http://192.168.56.1:8081/attendance", this.data)
                  .then((res) => {
                    axios
                      .get("http://192.168.56.1:8081/attendance/all")
                      .then((res) => {
                        this.data = res.data;
                        for (let j = 0; j < res.data.length; j++)
                          console.log(
                            "this is the new data: ",
                            res.data[j].name,
                            ": ",
                            res.data[j].protocol
                          );
                      });
                  });
                //print data
              });

            break;
          }
        }
      }
    },
  },

  created() {
    // axios
    //   .get("http://192.168.56.1:8081/attendance/all")
    //   .then((res) => {
    //     console.log("this is the res.data", res.data);
    //     this.data = res.data; //convert to array
    //   })
    //   .catch((error) =>
    //     this.$router.push({ name: "Error", params: { data: error } })
    //   );
  },
};
</script>

<style scoped lang="scss">
/* // body{
//   background: rgb(231, 231, 231)
// } */
strong {
  display: inline-block;
}
.sortable {
  width: 100%;
  background: rgb(184, 180, 180);
  padding: 1em;
  cursor: move;
  margin-bottom: 2px;
  span {
    padding-right: 8px;
  }
}

.hello .sortable-drag {
  opacity: 0;
}

.flip-list-move {
  transition: transform 0.5s;
}

.ghost {
  border-left: 6px solid rgb(0, 183, 255);
  box-shadow: 10px 10px 5px -1 rgba(0, 0, 0, 0.14);
  opacity: 0.7;

  &::before {
    // content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -50px;
    background-image: url("../assets/logo.svg");
  }
}
</style>
