<template>
  <div>
    <v-container fluid class="my-2">
      <v-layout row justify-center>
        <h1 class="grey--text text--lighten-1">Search Page</h1>
      </v-layout>
    </v-container>

    <div>
      <form>
        <div class="input">
          <input
            type="string"
            id="title"
            placeholder="Search for Book Title"
            v-model="search_title"
          />
          <v-btn class="ma-3 my-1" color="#26c6da" depressed @click="onSearch"
            ><v-icon>mdi-magnify</v-icon></v-btn
          >
        </div>
      </form>
    </div>

    <v-layout row wrap class="pl-2 py-3">
      <p sx12 md6 class="ma-3" v-if="books.length === 0">
        No search Results ...
      </p>
      <v-flex sx12 md6 class="py-3">
        <v-card
          class="ma-3"
          color="#26c6da"
          dark
          max-width="100%"
          v-for="book in books"
          :key="book.id"
        >
          <v-card-title> {{ book.title }} </v-card-title>

          <v-card-text class="headline font-weight-bold">
            <div v-if="book.content.length < 130">{{ book.content }}</div>
            <div v-else :title="book.content">
              {{ book.content.substring(0, 130) + "..." }}
            </div>
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-title
                >Created On: {{ book.createdAt }}</v-list-item-title
              >
              <v-row justify="end">
                <span class="subheading mr-3">Updated:{{ book.update }}</span>
                <!-- <span class="subheading">{{book.update}}</span> -->
              </v-row>
            </v-list-item>
          </v-card-actions>
          <v-divider></v-divider>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      search_title: "",
      books: [],
    };
  },
  methods: {
    onSearch() {
      //clear the array
      this.books.splice(0);
      //
      const httpLink =
        window.VUE_APP_API+"books/searchByTitle/" + this.search_title;
      console.log("This is the search title", this.search_title);
      axios
        .get("" + httpLink)
        .then((res) => {
          console.log("Search Response: ", res);

          //convert to array
          const data = res.data;
          for (let id in data) {
            const book = data[id];
            book.id = id;
            this.books.push(book);
          }
          this.search_title = "";
        })
        .catch((error) => {
          //this.$router.push({ path : '/error' }, params:{data:error});
          this.$router.push({ name: "Error", params: { data: error } });
          return;
        });
    },
  },
};
</script>

<style scoped>
.input {
  margin: 10px auto;
}

.input label {
  display: block;
  color: #4e4e4e;
  margin-bottom: 6px;
}

.input.inline label {
  display: inline;
}

.input input {
  font: inherit;
  width: 30%;
  padding: 6px 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.input.inline input {
  width: auto;
}

.input input:focus {
  outline: none;
  border: 1px solid #521751;
  background-color: #eee;
}

.input select {
  border: 1px solid #ccc;
  font: inherit;
}
</style>