<template>
  <div>
    <v-btn @click="sideBarOpen = !sideBarOpen"> 123 </v-btn>
    <v-navigation-drawer    >
      <!-- <v-menu :close-on-content-click="false" open-on-hover bottom offset-y>
         <template v-slot:activator="{ on }">
          <v-btn
            color="primary"
            dark
            v-on="on"
          >
            Dropdown
          </v-btn>
        </template> -->
        <v-list>
          <v-btn> Covernote </v-btn>
        </v-list>
        <v-list>
          <v-btn> Products </v-btn>
        </v-list>
        <v-list>
          <v-list-group>
            <template v-slot:activator>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title> Sample Products </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>

            <v-list-tile @click="openProducts">
              <v-list-tile-content>
                <v-list-tile-title> Product 1 </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
        </v-list>
      <!-- </v-menu> -->
    </v-navigation-drawer>
      <div>
    <v-row>
      <v-col
        cols="12"
        sm="6"
        md="4"
      >
        <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          :return-value.sync="date"
          transition="scale-transition"
          offset-y
          min-width="auto"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="date"
              label="Picker in menu"
              prepend-icon="mdi-calendar"
              readonly
              v-bind="attrs"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="date"
            no-title
            scrollable
          >
            <v-spacer></v-spacer>
            <v-btn
              text
              color="primary"
              @click="menu = false"
            >
              Cancel
            </v-btn>
            <v-btn
              text
              color="primary"
              @click="$refs.menu.save(date)"
            >
              OK
            </v-btn>
          </v-date-picker>
        </v-menu>
      </v-col>
    </v-row>
<vue-ctk-date-time-picker></vue-ctk-date-time-picker>
</div>
  </div>



</template>

<script>
import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
export default {
  data() {
    return {
      sideBarOpen: false,
      items: [
        {
          action: "local_activity",
          title: "Attractions",
          items: [{ title: "List Item" }],
        },
        {
          action: "restaurant",
          title: "Dining",
          active: true,
          items: [
            { title: "Breakfast & brunch" },
            { title: "New American" },
            { title: "Sushi" },
          ],
        },
      ],
      date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
    menu: false,
    modal: false,
    menu2: false,
    };
  },
  methods: {
    openProducts() {},
  },
};
</script>
