<template>
  <div id="app">
    <v-app id="inspire">
      <v-container fluid ma-0 pa-0 fill-height style: 1000px>
        <v-layout class="pt-13" v-if="loading && !refetchDataBtn" justify-center>
          <span >
            <div class="ml-6">
              <v-progress-circular
                indeterminate
                :size="40"
                :width="7"
                color="primary">
              </v-progress-circular>
            </div>
            <div class="pt-6">
               Fetching data...
            </div>
          </span>
        </v-layout>

        <v-layout v-else-if="!loading && !refetchDataBtn" justify-center> 
          <span >
          <v-data-table
            :headers="headers"
            :items="books"
            item-key="name"
            sort-by="name"
            group-by="friction"
            class="elevation-1"
            :items-per-page="this.itemsPerPage"
            ref="table"
            :expanded.sync="expanded"
          >
            <template v-slot:group.header="{ items, isOpen, toggle }">
              <th colspan="12">
                <v-icon @click="toggle"
                  >{{ isOpen ? "mdi-minus" : "mdi-plus" }}
                </v-icon>
                Friction: {{ items[0].friction }}
              </th>
            </template>

            <template v-slot:item.content ="{item}">
              <div v-if="item.content.length < 130">{{ item.content }}</div>
            <div v-else :title="item.content">
              {{ item.content.substring(0, 130) + "..." }}
            </div>
            </template>
          
          </v-data-table>
          </span>
        </v-layout>
        <!-- <v-layout class="pt-13" v-if="refetchData" justify-center> -->
          <v-layout class="pt-13 mt-16" v-if="refetchDataBtn" justify-center >
          <span class="pa-6">
              <v-btn
                :loading="loading2"
                :disabled="loading2"
                x-large
                style="min-width: 200px"
                color="success"
                @click="loader = 'loading2'"
              >
              Reload Data
                <template v-slot:loader>
                  <span>Reloading Data ...</span>
                </template>
      </v-btn>
            <!-- <v-btn elevation="9" color="success" :loading="fetching" :disabled="fetching"  @click="fetchData='fetching'">Refresh
              <template v-slot:fetchData>
          <span>Fetching Data...</span>
        </template>
            </v-btn> -->
          </span>
        </v-layout>
        
      </v-container>
    </v-app>
  </div>
</template>

<script>
import axios from "axios";
export default {
  created() {
    this.getData();
  },

  data() {
    return {
      loader: null,
      loading2: false,
      // fetchData: null,
      // fetching: false,
      refetchDataBtn: false,
      loading: true,
      expanded: [],
      itemsPerPage: 6,
      books: [],
      headers: [
        {
          text: "ID",
          align: "start",
          sortable: false,
          value: "iid",
        },
        { text: "Title", value: "title" },
        { text: "Content", value: "content" },
        { text: "Price ($)", value: "price" },
        { text: "Created At", value: "createdAt" },
        { text: "Last Updated", value: "update" },
        { text: "Friction", value: "friction" },
        { text: "Action", value: "actions", sortable: false },
      ],
    };
  },
  watch: {
    loader() {
      const l = this.loader;
      this[l] = !this[l];
      setTimeout(() => (this[l] = false), 3000);
      this.loading = true;
      this.refetchDataBtn = false;
      this.getData();
      this.loader = null;
    },
  },
  methods: {
    getData() {
      this.loading = true;
      axios
        .get(window.VUE_APP_API+"books/all")
        .then((res) => {
          this.loading = false;
          console.log("this is the res", res);
          console.log("this is the res.data", res.data);
          this.books = res.data; //convert to array
          console.log("this is this.books", this.books);
        })
        .catch((error) => {
          setTimeout(() => {
            this.refetchDataBtn = true;
            alert(this.refetchDataBtn);
          }, 3000);
          console.log(error);
        });
    },
  },
};
</script>
