<template>
  <div>
    <v-container fluid class="my-2">
      <v-layout row justify-center>
        <h1 class="grey--text text--lighten-1">Home Page</h1>
      </v-layout>
    </v-container>

<v-col>
    <div>
      <v-layout wrap justify-center class="pl-16">
        <v-flex md2 class="pl-13 py-16">
          <v-btn color="pink accent-2" x-large dark to="/findAll">
            <v-icon>mdi-ballot </v-icon>FIND All</v-btn>
        </v-flex>
        <v-flex md2 class="pl-14 py-16">
          <v-btn color="pink accent-2 " x-large dark to="/search">
            <v-icon>mdi-magnify </v-icon>Search</v-btn>
        </v-flex>
         <v-flex md2 class="pl-14 py-16">
          <v-btn color="pink accent-2" x-large dark to="/create">
            <v-icon> mdi-note-plus </v-icon>Create</v-btn>
        </v-flex>
        <p>test test</p>
      </v-layout>
    </div>
    </v-col>
  </div>
</template>

<style scoped>
.customizedBtn {
  border: 1px solid #521751;
  background: #521751;
  color: white;
  padding: 6px;
  font: inherit;
  cursor: pointer;
}
</style>