<template>
  <v-app class="pink">
    <nav-bar></nav-bar>
    <v-main class="mx-3 mb-4">
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import NavBar from "./components/NavBar";

export default {
  name: "App",

  components: {
    NavBar,
  },

  data() {
    return {};
  },
};
</script>
